.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.round {
  border-radius: 50%;
}

.hidden {
  display: none;
}

@media screen and (max-device-width: 640px) {
  .mob-flex-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .mob-flex-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
